name: CD

on:
  workflow_dispatch:
  push:
    tags: ['v*']

jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: '0'

      - name: Download CI Artifacts
        uses: dawidd6/action-download-artifact@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: ci.yml
          workflow_conclusion: success
          commit: ${{ github.sha }}
          branch: main
          name: build-${{ matrix.os }}-Release
          path: build
